.navbar {
  position: relative;
  height: 100vh;
  width: 20%;
  border: 5px #a84046 solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-home {
    font-size: 4.5em;
    border-bottom: 3px solid black;
    width: 100%;
    -webkit-text-stroke-width: .15px;
    -webkit-text-stroke-color: #a84046;
}

.hello-box {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#wishlist {
  align-self: center;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

#logout {
  margin-top: 675px;
  align-self: center;
  text-decoration: none;
  color: black;
}